.popup__box {
  width: 480px;
  margin: 0 40px 0 0;
  padding: 40px;
  position: relative;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #FFFFFF;
}

.popup__title {
  margin: 0;
  color: #000000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.popup__form {
  width: 100%;
  margin: 40px 0 0 0;
}

.popup__submit-button {
  width: 129px;
  height: 60px;
  margin: 40px 0 0 0;
  background-color: #2F71E5;
  border-radius: 100px;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.popup__submit-button:hover {
  cursor: pointer;
  background-color: #0255E5;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .popup__box {
    width: 420px;
  }
}

@media (max-width: 768px) {
  .popup__box {
    width: 380px;
    margin: 0 28px 0 0;
  }

  .popup__title {
    font-size: 24px;
    line-height: 30px;
  }

  .popup__form {
    margin: 32px 0 0 0;
  }

  .popup__submit-button {
    width: 124px;
    height: 55px;
    margin: 32px 0 0 0;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .popup__box {
    width: 320px;
    margin: 0;
  }

  .popup__title {
    font-size: 20px;
    line-height: 26px;
  }

  .popup__form {
    margin: 28px 0 0 0;
  }


  .popup__submit-button {
    width: 112px;
    height: 50px;
    margin: 28px 0 0 0;
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 320px) {
  .popup__box {
    width: 300px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 24px;
  }

  .popup__form {
    margin: 24px 0 0 0;
  }


  .popup__submit-button {
    width: 108px;
    height: 45px;
    margin: 24px 0 0 0;
    font-size: 12px;
  }
}
