.footer {
  padding: 40px 0 32px 0;
  display: flex;
  justify-content: space-between;
  background-color: #2F71E5;
  color: #FFFFFF;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list-item {
  margin: 12px 0 0 0;
}

.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.footer__link-icon {
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
}

.footer__copywrite {
  margin: 0;
  align-self: flex-end;
  color: #CFCFCF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item:first-of-type {
  margin: 0;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 60%;
  padding-bottom: 4px;
  border-bottom: 2px solid #FFFFFF;
}

@media (max-width:768px) {
  .footer {
    padding: 32px 0 25px 0;
  }

  .footer__link {
    font-size: 14px;
    line-height: 18px;
  }

  .footer__copywrite {
    font-size: 14px;
    line-height: 18px;
  }

  @media (max-width: 480px) {
    .footer {
      padding: 28px 0 22px 0;
    }

    .footer__link-icon {
      width: 12px;
      height: 12px;
      margin: 0 2px 0 0;
    }

    .footer__link {
      margin: 0 6px;
      font-size: 13px;
    }

    .footer__copywrite {
      font-size: 13px;
    }
  }

  @media (max-width: 320px) {
    .footer__link {
      margin: 0 4px;
      font-size: 12px;
    }

    .footer__copywrite {
      font-size: 12px;
    }
  }
}