.signupform__input {
  width: 400px;
  height: 60px;
  margin: 20px 0 0 0;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 30px;
  outline: none;
  color: #000000;
}

.signupform__input:first-child {
  margin: 0;
}

.signupform__input::placeholder {
  color: rgba(0,0,0,0.7);
}