.signupform__input {
  width: 100%;
  height: 60px;
  margin: 0 0 42px 0;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 30px;
  outline: none;
  color: #000000;
}

.signupform__input-error {
  margin: 0;
}

.signupform__error {
  color: #FF0000;
  padding: 12px 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.signupform__input:focus {
  border-color:  #2F71E5;
}

.signupform__input::placeholder {
  color: rgba(0,0,0,0.7);
}

@media (max-width: 768px) {
  .signupform__input {
    height: 55px;
    margin: 0 0 30px 0;
    padding: 0 20px;
    font-size: 14px;
    line-height: 16px;
  }

  .signupform__error {
    padding: 8px 20px;
    font-size: 12px;
    line-height: 14px;
  }

  .signupform__input-error {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .signupform__input {
    height: 50px;
    margin: 0 0 26px 0;
    padding: 0 16px;
  }

  .signupform__error {
    padding: 6px 16px;
  }

  .signupform__input-error {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .signupform__input {
    height: 45px;
    margin: 0 0 22px 0;
    font-size: 11px;
  }

  .signupform__error {
    padding: 4px 16px;
    font-size: 12px;
    line-height: 14px;
  }

  .signupform__input-error {
    margin: 0;
  }
}
